@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-1: "Rubik", sans-serif;
  --font-2: "Overpass", sans-serif;
  --col-1: #3f6a00;
  --col-2: #000000;
  --col-3: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  transition: all ease 0.5s;
  /* border: 1px solid; */
}

header {
  width: 100%;
}

/* Nav Styling Start */

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--col-3);
  color: var(--col-2);
}

nav .logo {
  height: 10dvh;
  font-size: 2.5vw;
  display: block;
  align-content: center;
  font-family: var(--font-1);
  color: var(--col-1);
  font-weight: 800;
}

nav .sideNav ul {
  display: flex;
  gap: 3vw;
  list-style: none;
}

nav .sideNav ul li a {
  text-decoration: none;
  font-family: var(--font-2);
  color: var(--col-2);
}

nav #hamburger {
  display: none;
}

/* Nav Styling End  */

header .heroSection {
  width: 100%;
  height: 90dvh;
  background-image: url(Images/pexels-pixabay-264537.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

header .heroSection h1 {
  font-size: 10vh;
  font-family: var(--font-1);
  color: var(--col-3);
}

header .heroSection p {
  font-size: 5vh;
  font-family: var(--font-2);
  color: var(--col-3);
}

header .heroSection a {
  background-color: var(--col-1);
  color: var(--col-3);
  font-family: var(--font-2);
  border: 2px solid var(--col-3);
  border-radius: 3vw;
  text-decoration: none;
  padding: 0.5vw 3vw;
  font-size: 2.5vh;
}

/* Header styling end  */

/* Main Styling Start  */

/* Services  styling */

main .services {
  width: 100%;
  display: block;
  place-items: center;
  margin: 10vh 0;
}

main .services .cont {
  width: 80vw;
  margin: 10vh 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
}

main .services .cont .items {
  width: 15vw;
  height: 35dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main .services .cont .items img {
  width: 10vw;
  height: 10vw;
}

main .services .cont .items h3,
main .services .cont .items p {
  font-family: var(--font-1);
}

/* Services Styling End  */

/* Pricing Styling Start  */

#pricing {
  width: 100%;
  display: block;
  place-items: center;
  margin: 10vh 0;
}

#pricing .articles {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#pricing .articles h1 {
  font-family: var(--font-1);
  font-size: 3vw;
}

#pricing .articles p {
  font-family: var(--font-2);
  font-size: 1.2vw;
}

#pricing .cont {
  width: 80vw;
  margin: 10vh 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
}

#pricing .cont .items {
  width: 15vw;
  height: 35dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#pricing .cont .items img {
  width: 13vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 0.2vw;
}

#pricing .cont .items h3 {
  font-family: var(--font-1);
  color: var(--col-1);
}

#pricing .cont .items p {
  font-family: var(--font-2);
}

/* Testimonials Styling Start  */

#testimony {
  width: 100%;
  display: block;
  place-items: center;
  margin: 10vh 0;
}

#testimony .articles {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vh;
}

#testimony .articles h1 {
  font-family: var(--font-1);
  font-size: 3vw;
}

#testimony .articles h2 {
  font-family: var(--font-2);
  font-size: 2vw;
}

#testimony .articles p {
  font-family: var(--font-2);
  font-size: 1.2vw;
}

#testimony .customerReviews {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}

#testimony .customerReviews .items {
  width: 20vw;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  text-align: center;
  border-bottom: 2px solid var(--col-1);
  border-top: 2px solid var(--col-1);
  border-radius: 10px;
}

#testimony .customerReviews .items p {
  font-size: 1.2vw;
  font-family: var(--font-2);
}

#testimony .customerReviews .items .userDetails h2 {
  font-family: var(--font-1);
}

/* Testimonials Style End  */

/* Newsletter Style Start  */

#newsletter {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #00000019;
}

#newsletter .articles h1 {
  font-family: var(--font-1);
  font-size: 2.5vw;
}

#newsletter .articles p {
  font-family: var(--font-2);
  font-size: 1.2vw;
}

#newsletter .form input {
  width: 25vw;
  height: 7vh;
  padding: 0 1vw;
  font-family: var(--font-2);
}

#newsletter .form button {
  font-family: var(--font-2);
  width: 7vw;
  height: 7vh;
  background: var(--col-1);
  color: var(--col-3);
  border: none;
  outline: none;
}

/* Newsletter Style End  */

footer{
  width: 100%;
  padding: 5vh 5vw;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10vw;
}

footer .cont{
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  gap: 2vh;
}

footer .cont h1{
  font-family: var(--font-1);
  font-size: 1.5vw;
}

footer .cont p, footer .cont a{
  text-decoration: none;
  color: var(--col-2);
  font-family: var(--font-2);
}

footer .cont span{
  display: flex;
  gap: 1vw;
}